body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Main styles */
  body {
    font-family: 'Poppins', sans-serif;
  }
  .logo {
    height: 60px;
    width: auto;
  }
  
  .navbar {
    background-color: #1C1D23 !important;
  }
  
  /* Content styles */
  .content {
    padding: 50px;
    text-align: left;
    background-color: #1C1D23;
    color: #F5F5F5;
  }

  .heroimage {
    width: 400px;
    height: auto;
  }

  /* carousel */


.item-one, .item-two, .item-three, .item-four {
    max-height: 100%;
    object-fit: cover;

}

.carousel-item {
    height:auto;
}


.about-DM {
    background-color: #1C1D23;
}

.text-DM {
    color: #F5F5F5 !important;
}

.button-DM {
    background: linear-gradient(rgba(140, 56, 170, 0.61) 2.6%, rgba(38, 78, 221, 0.62) 100%);
    border:none;
}
  
  /* Footer styles */
  /* footer {
    background-color: #1C1D23;
    padding: 20px;
    color: #fff;
    text-align: center; */

    .myFooter {
        background-color: #1C1D23;
        max-width: none;
      }
      footer .text-body-secondary {
        color: #ffffff !important;
      }
      
      footer .nav-item a {
        color: #ffffff !important;
      }
      
      
      .py-3 {
          padding-top: 1rem!important;
          padding-bottom: 1rem!important;
      }
      .my-4 {
          margin-top: 1.5rem!important;
          margin-bottom: 1.5rem!important;
      }
      .align-items-center {
          align-items: center!important;
      }
      .justify-content-between {
          justify-content: space-between!important;
      }
      .flex-wrap {
          flex-wrap: wrap!important;
      }
      .border-top {
          border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
      }
      .d-flex {
          display: flex!important;
      }
      *, ::after, ::before {
          box-sizing: border-box;
      }
      user agent stylesheet
      footer {
          display: block;
      }


@media only screen and (max-width: 600px) {
    .content {
        padding: 50px;
        text-align: center;
        background-color: #1C1D23;
        color: #F5F5F5;
      }
    
     .herocontainer {
        padding-right: 0 !important;
     }
    
      .heroimage {
        width: 100%;
        
      }
}